<div class="navbar flex justify-between items-center gap-4 ">
    <div class="w-[25%] flex gap-1 sm:justify-end justify-start">
        <i class="fa-solid fa-bars font-semibold cursor-pointer sm:hidden flex" (click)="toggleMenu()"></i>
        <a routerLink="" class=" bg-transparent shadow-none text-xl cursor-pointer hover:text-gray-500 ">GatherGrove</a>
    </div>
    <div class="border-t-[1px] border-b-[1px] border-black w-[50%] sm:block hidden">
        <ul class="flex gap-5 py-1 justify-center items-center w-full">
            <li routerLink="" class="cursor-pointer text-center hover:text-gray-500">Home</li>
            <li (click)="scroll() "  class="cursor-pointer text-center hover:text-gray-500">Events</li>
            <li routerLink="contact" class="cursor-pointer text-center hover:text-gray-500">Contact</li>
        </ul>
    </div>
    <div class="flex-none w-[25%] sm:justify-start justify-end">
        
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS Navbar component"
                        src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li>
                    <a routerLink="admin/admin-login" class="justify-between">
                        Admin

                    </a>
                </li>
                <li routerLink="admin/add-event"><a>Add Events</a></li>
                <li routerLink="admin/manage-event"><a>Manage Events</a></li>
                <li routerLink="admin/manage-message"><a>Manage Message</a></li>
                <li (click)="logout()"><a>Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="px-1 ">
    <div *ngIf="isMenuOpen" class="md:hidden bg-white shadow-md p-4 overflow-hidden rounded-md absolute z-10 px-10">
        <ul class="flex flex-col gap-2">
            <li (click)="clickOption()" routerLink="" class="cursor-pointer text-center hover:text-gray-500">Home</li>
            <li  (click)="scroll()" class="cursor-pointer text-center hover:text-gray-500">Events</li>
            <li (click)="clickOption()" routerLink="contact" class="cursor-pointer text-center hover:text-gray-500">Contact</li>
        </ul>
    </div>
</div>