<div class="hero  min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="/assets/banner-img.jpg" class="md:max-w-xl w-xs rounded-lg shadow-2xl" />
    <div class=" ">
      <h1 class=" font-bold md:text-5xl text-4xl">Make Your Event Unforgettable</h1>
      <p class="py-6 ">
        From weddings to corporate events, we bring your vision to life with our expert planning and flawless execution.
      </p>
      <button [routerLink]="login ?'admin/add-event' : 'admin/admin-login'" class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>